* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    height: auto;
    width: auto;
}

body {
    background-color: #fff;
    color: #000;
}



.btns {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 20px;
    list-style: none;
}

.btns li {
    margin: 30px 10px;
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.btns li .bttn {
    text-decoration: none;
    padding: 20px 20px;
    border-radius: 10px 10px 10px 10px;
}

.bttn {
    background-color: #00572d;
    color: white;
}

.outlet-div {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    min-width: 400px;
    box-shadow: none;
}

select {
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    /* Adjust font size as needed */
}


/* Animations */
section {
    opacity: 0;
    transition: all 1s ease-in-out;
}

p {
    transform: translate(-60px);
    transition: all 1s ease-in-out;
}

.show {
    opacity: 1;
    transform: translate(0px);
    transition: all 1s ease-in-out;
}

.hide {
    /* transform: translate(-40px); */
    opacity: 0;
    transition: all 1s ease-in-out;
}